<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>dubbo-demo</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 定义资源访问路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<!--spring的配置-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- =============================== WEB-SERVICE ============================ -->
	<!-- **************************dubbo webservice************************** -->
	<servlet>
		<servlet-name>dubbo-servlet-webservice</servlet-name>
		<servlet-class>com.alibaba.dubbo.remoting.http.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dubbo-servlet-webservice</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<!-- **************************dubbo hession************************** -->
	<servlet>
         <servlet-name>dubbo-servlet-hession</servlet-name>
         <servlet-class>com.alibaba.dubbo.remoting.http.servlet.DispatcherServlet</servlet-class>
         <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
         <servlet-name>dubbo-servlet-hession</servlet-name>
         <url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<!-- ================================= HESSIAN =================================== -->
	<!-- **************************hessian simple************************** -->
	<!-- 
  	<servlet>
	  	<servlet-name>singhessian</servlet-name>
	  	<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
	  	<init-param>
	  		<param-name>service-class</param-name>
	  		<param-value>cn.kane.service.DemoServiceImpl</param-value>
	  	</init-param>
  	</servlet>
	<servlet-mapping>
		<servlet-name>singhessian</servlet-name>
		<url-pattern>/singhessian</url-pattern>
	</servlet-mapping>
	 -->
	
	<!-- hession with spring -->
	<!-- 
	<servlet>
		<servlet-name>springhession</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>namespace</param-name>
			<param-value>classes/dubbo-server</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>springhession</servlet-name>
		<url-pattern>/springhession/*</url-pattern>
	</servlet-mapping>  
	 -->
</web-app>